config pdnsd
	option server_ip any
	option server_port 5353
	option perm_cache 2048
	option cache_dir '/var/pdnsd'
	option run_as 'nobody'
	option status_ctl 0
	option query_method udp_tcp
	option min_ttl 1w
	option max_ttl 2w
	option timeout 10
	option udpbufsize 1024

config server
	option label 'openwrt'
	option ip   '114.114.114.114,114.114.115.115'
	#option port  '53'
	#option file  '/etc/ppp/resolv.conf'
	option timeout 10
	option uptest  none
	option purge_cache 0
	option edns_query 1

config source
	option owner localhost
	option ttl 86400
	option file '/etc/hosts'
